extends layout

block content
    .jumbotron
      .container
        h1.bigh1 Buchstabe: #{letter}
        p.bigp Position: #{(keyidx + 1) % length}
        //if malicious
        //    p The link you opened was malicious.
        //else
        //    p The link you opened was safe.
